.pesquisar {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.procurar {
    width: 30vw;
    height: 5vh;
    font-family: "Montserrat";
    font-weight: bold;
    border: 3px solid #093E69;
    border-radius: 50px;
    text-align: center;
    background-image: url(../img/logo.png);
}

input::placeholder { 
    color: #093E69;
}

.img-projeto{
    float: left;

}

.img-limpeza-praia{
    width: 30vw;
}

.projeto {
    display: flex;
    align-items: flex-start;
}