* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login__caixa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 700px;
    background-color: white;
    border: 3px solid #093E69;
    border-radius: 30px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
}

#login{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.login__titulo{
    font-family: 'Montserrat';
    color: #093E69;
    font-size: 50px;
}


/* .login__logo{
    width: 8vw;
    height: auto;
}  */


.inputs{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: none;
}

.inputs input{
    width: 400px;
    height: 70px;
    margin: 20px 0;
    border-radius: 50px;
    border: 3px solid #093E69;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-indent: 10px
}

input::placeholder{
    color: #093E69;
    font-size: 20px;
    padding-left: 10px;
    font-family: "Montserrat", sans-serif;

}

input[type=text]:focus{
    outline: 2px solid #0058AB;
}

input[type=password]:focus{
    outline: 2px solid #0058AB
}

.login__check{
    display: flex;
    justify-content: center;
    gap: 1vw;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #093E69;
}

.login__check a{
    text-decoration: none;
    color:#0058AB;
}

.login__entrar{
    width: 120px;
    height: 60px;
    margin-top: 20px;
    background-color: #25BB91;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.login__entrar:hover{
    scale: 1.1;
}


@media screen and (max-width: 1440px) {
    .login__caixa{
        width: 800px;
        height: 700px;
    }
    #login{
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
    }
    .inputs input{
        width: 400px;
        height: 70px;
        margin: 20px 0;
    }
    input::placeholder{
        font-size: 20px;
        padding-left: 10px;
    }
    .login__entrar{
        width: 120px;
        height: 60px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
    }
}

@media screen and (max-width: 1024px) {
    .login__caixa{
        width: 700px;
        height: 700px;
    }
    #login{
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
    }
    .inputs input{
        width: 400px;
        height: 70px;
        margin: 20px 0;
    }
    input::placeholder{
        font-size: 20px;
        padding-left: 10px;
    }
    .login__entrar{
        width: 120px;
        height: 60px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
    } 
}

@media screen and (max-width: 768px) {

    .login__titulo{
        font-size: 40px;
    }
    .login__caixa{
        width: 550px;
        height: 600px;
        margin: 50px 0;
    }
    #login{
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
    }
    .inputs input{
        width: 400px;
        height: 70px;
        margin: 20px 0;
    }
    input::placeholder{
        font-size: 20px;
        padding-left: 10px;
    }
    .login__entrar{
        width: 120px;
        height: 60px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
    } 
}

@media screen and (max-width: 640px) {
    .login__titulo{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .login__caixa{
        width: 450px;
        height: 600px;
        margin: 50px 0;
    }
    #login{
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
    }
    .inputs input{
        width: 300px;
        height: 70px;
        margin: 20px 0;
    }
    input::placeholder{
        font-size: 20px;
        padding-left: 10px;
    }
    .login__entrar{
        width: 120px;
        height: 60px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
    } 
}

@media screen and (max-width: 475px) {
    .login__titulo{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .login__caixa{
        width: 350px;
        height: 500px;
        margin: 120px 0;
    }
    #login{
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
    }
    .inputs input{
        width: 250px;
        height: 70px;
        margin: 20px 0;
    }
    input::placeholder{
        font-size: 20px;
        padding-left: 10px;
    }
    .login__entrar{
        width: 120px;
        height: 60px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
    } 
    .esqueceu {
        font-size: 12px;
    }
    .label__check {
        font-size: 12px;
        border-right: 1px solid #0058AB;
        padding-right: 5px;
    }

    #login__check {
        border: 1px solid #0058AB;
    }
}
